body {
  font-family: Arial, sans-serif;
  background: #242490;
  text-align: center;
  padding: 20px;
}

.contenedor {
  max-width: 1300px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

.barra_superior {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.contenedor_imagenes {
  display: flex;
  justify-content: center;
  background-color: rgb(123, 23, 23);
 
  gap: 20px; /* Espacio entre ellas */
}

.image-box {
  position: relative;
  border: 15px;
  
  margin: 15px;
}

.image-box img {
  max-width: 600px;
  border-radius: 10px;
 
}

/* Circulos verdes */
.marks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* para no bloquear clics */
}

.mark {
  position: absolute;
  border: 5px solid green;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#message {
  margin-top: 15px;
  font-size: 1.4em;
  font-weight: bold;
}
.colo1{
  background-color: rgb(37, 39, 133);
  columns: rgb(104, 134, 19);
  font-size: 39px;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 39px;
}

.colo2{
  background-color: rgb(37, 39, 133);
  columns: rgb(104, 134, 19);
  font-size: 39px;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 39px;
}